
body{
	background-color:pink;
}


@media screen and (min-width:1200px) {
       body {

            .software {
       	    	      background-color:blue;	    
       	    	      background-image: url(../software.png) 0 0px;
		      height: 240px;
	    	      width: 128px;
		      }	      
	}
}
