
body{
	background-color:pink;
}


@media screen and (min-width:1200px) {
       body {
       	    background-color:blue;	    
            .derp {
       	    	      background: url(../software.png) 0 0px;
		      height: 240px;
	    	      width: 128px;
		      }	      
	}
}
