
body{
	background-color:pink;
}


@media screen and (min-width:1200px) {
       div {

                 /* .software {*/
       	    	     /* background-color:blue;*/	    
       	    	      background-image: url(./software.png);
		      height: 240px;
	    	      width: 128px;
		    /* }*/	      
	}
}

@media screen and (min-width:1100px) and (max-width:1199px) {
       div {
       	   background-image: url(./software.png);
	   height: 240px;
	   width: 128px;
}
}
