
body{
	background-color:pink;
}


@media screen and (min-width:1200px) {
       body {
       	    /*background-color:blue;*/	    
            .software {
	    	      width: 128px;
		      height: 240px;
       	    	      background: url(../software.png);
		      display: inline-block;
		      }	      
	}
}
