
body{
	background-color:pink;
}


@media screen and (min-width:1200px) {
       div {

                /* .software {*/
       	    	     /* background-color:blue;*/	    
       	    	      background-image: url(./software.png);
		      height: 240px;
	    	      width: 128px;
		     /*}*/      
	}
}

@media screen and (min-width:1100px) and (max-width:1199px) {
       div {
       	   background: url(./software.png) -128px 0;
	  /* background-position: -128px 0 px;*/
	   height: 240px;
	   width: 128px;
	   }
}

@media screen and (min-width:1000px) and (max-width:1099px) {
       div {
       	   background: url(./software.png) -256px 0;
	  /* background-position: -128px 0 px;*/
	   height: 240px;
	   width: 128px;
	   }
}
@media screen and (min-width:900px) and (max-width:999px) {
       div {
       	   background: url(./software.png) -384px 0;
	  /* background-position: -128px 0 px;*/
	   height: 240px;
	   width: 128px;
	   }
}
@media screen and (min-width:800px) and (max-width:899px) {
       div {
       	   background: url(./software.png) -512px 0;
	  /* background-position: -128px 0 px;*/
	   height: 240px;
	   width: 128px;
	   }
}
@media screen and (min-width:700px) and (max-width:799px) {
       div {
       	   background: url(./software.png) 0 -240px;
	  /* background-position: -128px 0 px;*/
	   height: 240px;
	   width: 128px;
	   }
}

@media screen and (min-width:600px) and (max-width:699px) {
       div {
       	   background: url(./software.png) -128px -240px;
	  /* background-position: -128px 0 px;*/
	   height: 240px;
	   width: 128px;
	   }
}




/*
@media screen and (min-width:1000px) and (max-width:1099px) {
       div {
       	   background: url(./software.png) -256px 0;
	   height: 240px;
	   width 128px;
	}
}*/

